*{
    padding: 0;
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.navbar-links{
    display: flex;
    column-gap: 20px;
}
.navbar-links a{
   text-decoration: none;
  color: darkslategray;
}
.navbar-links a:hover{
    color: white;
    background-color: black;
}
.navbar-menu-toggle{
    display: none;
}
@media screen and (max-width:700px) {
    .navbar-menu-toggle{
        display: block;
    }
    .navbar-links{
        display: none;
    }
    
}
.side-navbar{
    background-color: black;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    color: white;
    
}
.side-navbar-link{
    margin-bottom: 30px;
}
.side-navbar-links a{
    text-decoration: none;
    color: white;
   
}
.side-navbar-links a:hover{
  color: aqua;
   
}